modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["firebase_barebones_javascript:1.0.0", "javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["libwebp"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "alexzo"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@alexzo.iam.gserviceaccount.com"
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyDAfy2fyJYLDA3WjK-VAo_zGgrYcxjkzws"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "alexzo.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL = "https://alexzo-default-rtdb.firebaseio.com"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "alexzo.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "685761333626"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:685761333626:web:e23150066930f804cd6ec3"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-386HB7B9VJ"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC18fon6x3quGWP
YYslWEYpe8PeKpK4GCDdqDxlcH+gxVgLfxtR9obrgr86kzQD+3IQGxq2KAD1H4CP
gLusd8KpQIay8mubKHsyWn9vjoSw/sX1TrCaH89qnp5aBF7NyhKFhonWItbc/qIf
J3v4LGt3emQowPTsLINl/TQagaKsyMnhA85tjYvnRkSWj6X93yon+AvV5Sjoj3FZ
iEjf/bOU/P2j6OtPpPPzeRLSubA8UgvwTYkx/Dp18NodkcfhPAnNrV9z83MiET4H
Vk1nL6cl1vMDwiIZBYNB8k+CD75KHrAt4yBMFL7X0Cw5w//ReLSeECzLrIw9QKdg
VtqrCHvxAgMBAAECggEAEvh6OgfKjILx+e90e+4WkLQ6IbPELQQ9BweH1pbSg9+X
tMkpvtPK0QsGp9OZ4JFq3PGKiTQmF2jTtYK5brvk9NNIyCc9H4YqxD8J2wab4L2L
w+5SvRs0e/wybBXZEbFwWXJD9GsZBp1ZJ5DtHNz6zpAZGeO2ldp1T+DE+j+Kh+PR
E9zOEfQ3XP7ftQHJ/tqxo6sdXhboNLXYsNf+l4iEozQaBNG2bztD7c/JrNjQkh+2
v6y4QW12yp/oE5cG4UMkJP7VwZk0CS5RuzLI7PZPK0+28F1yac9t0FqeNE+Sx4pp
Im1jvghOIYNbnCFc0GvtP7601tQV6yFkllqTh89ITQKBgQD8ZXAtNQSfpchMrI6h
DGEHcvLretIXQW32/JjEx4dbCUvKMfJ5gRwgVaFKT0jFsSaiRK9rKlalSomZUZFr
KLS02ZgNgqmb7x1oVVlNjOhMgaXQFBU7z6J3DKjfX9A+r4oKI9bZj/rRiu1VjiTD
mnxvdA1guNvomIXGIAkND5YKNQKBgQC4iwaLGRxU0aTnjmLf9gv+JcRz+hH7Ffmc
WrficoCpKNznUlDV2yvJ2FDd8nTOX4N1KEBzbFnQK/xocXKGbQ6PqeCi7rupAqq+
+20dYjeKFbif4nbbWzdcM59Nk3Z7kBVqKy8QhKJdP8r6lHhqVN9hDxN5jHQhte7X
7qLLVecCTQKBgGElhhTQaFQukjb43/ka86nTU67RWlX7KCE9vmtXRUEEBfjwWpzr
1fCYJPmeJKt68RzaBQ7hf/IlC2tI2wj85PkLG5xvo2rSkWYcG8BesPbpm/HIGRgp
ZiYeaE156oSGOkKG4uZgpbDLoWghywLCzoxzhcapwHL5adwFbpZpXl3VAoGBAKtj
4wXYomlb8y1jHg0mdGjrJpMX0w9Aj3xY/KMA+OEiJFdqKc0UKozhq+kVvsnUB0EN
yx3nqVofH+LYSibyri1a9lgcJImJAo8w71v01eQW3EsRhpWfF8E36GGh7M5BOMJL
rQBITosQLjGfJl6KyJNZ7xpaCZktYM+GwAbclxmZAoGASRHelVYmmx43Qq3IaI5n
YjJ0EW7K7C0Jl6gBBNgLHEivbOVl1acWv0Q2/fNVk+xGTV525ZoxSJnwRlTOShB5
Oj8kzvpE8rVp1cWgvNKZLFj2x+M61fbD/g/oweBfoaNXpGUbZApmJfl7PhJhfSc4
znl6gyAQYdWU/pctRm3PLNU=
-----END PRIVATE KEY-----"""
